<div class="container">
		<div class="page-header">
			<center><h3>Login Angular</h3> </center>     
		</div>

		<div class="CajaInicio animated bounceInRight">
			<h1>INGRESO</h1>
		
			<form id="FormIngreso">
							
			    <button ng-click="iraLogin()" class="list-group-item  list-group-item list-group-item-info">
			      <h4 class="list-group-item-heading">Login</h4>
			    </button>
				
				<button ng-click="iraRegistro()" class="list-group-item  list-group-item list-group-item-info">
			      <h4 class="list-group-item-heading">Registrarse</h4>
			    </button>

			</form>
		</div>
	</div>