<div class="container" ng-init="comenzar()">
		<div class="page-header">
			<center><h1>Sala de Juegos</h1> </center>     
		</div>
		<div class="CajaUno animated bounceInDown">
			
			<h4>Reflejos daltónicos v1.0<h4>
			
			<form id="FormIngreso">
				<input type="text" readonly id="ColorElejido" ng-model="ColorElejido">
				
				
			</form>
			<button   style="background:blue;"  class="MiBotonUTNJuego animated tada swing wobble" ng-click="Responder('azul')" >azul</button>
			<button   style="background:yellow;" class="MiBotonUTNJuego animated shake  swing " ng-click="Responder('amarillo')" >amarillo</button>
			<button  style="background:brown;" class="MiBotonUTNJuego animated swing shake" ng-click="Responder('marron')" >marrón</button>
			
			<button  style="background:green;" class="MiBotonUTNJuego animated swing shake" ng-click="Responder('verde')" >verde</button>
			<button  style="background:skyblue;" class="MiBotonUTNJuego animated tada swing" ng-click="Responder('celeste')" >celeste</button>
		
			<button  style="background:red;" class="MiBotonUTNJuego animated swing shake" ng-click="Responder('rojo')" >rojo</button>
			<button  style="background:Pink;" class="MiBotonUTNJuego animated hinge"  >Rosa</button>
			<br/>
			<button  class="MiBotonUTN" ng-click="comenzar()" >Nuevo Juego</button>
			<br/>
			{{resultado}}
		</div>

		<div class="CajaUno animated bounceInLeft">
			


		</div>

	<!-- 	<div class="CajaEnunciado animated bounceInLeft">
			<h2>Enunciado:</h2>
			
				<h3>
						En la pantalla se mostrarán 6 botones de distintos colores,  al comenzar el juego se mostrara el texto de un color entre los 6 posibles para que el jugador sepa que botón tocar .Al tocar el botón correcto se informara cuanto tiempo tardo.


				</h3>
			
			
		</div> -->
	
		</div>